<nav>
  <a routerLink="" routerLinkActive="active">
    <button>Lista de Usuaios</button>
  </a>

  <a routerLink="/new" routerLinkActive="active">
    <button>Regsitro de nuevo usuario</button>
  </a>

  <a routerLink="/genero" routerLinkActive="active">
    <button>Lista de Generos</button>
  </a>

  <a routerLink="/newGenero" routerLinkActive="active">
    <button>Registrar nuevo genero</button>
  </a>

  <a routerLink="/registro" routerLinkActive="active">
    <button>Lista de movimientos</button>
  </a>

  <a routerLink="/newRegistro" routerLinkActive="active">
    <button>Nuevo movimiento</button>
  </a>
  
</nav>
<div style="text-align: center">
  <router-outlet></router-outlet>
</div>
